/* You can add global styles to this file, and also import other style files */
body {
  font-family:'Courier New';
  background-color: #DFE4EB;
}

button {
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  background-color: white;
  border-radius: 12px;
}

#modeler {
  border-style: inset;
}

.navbar {
  height: 75px;
}

.panel {
  height: 40px;
  vertical-align: middle;
  vertical-align: "middle";
}

.footer {
  height: 50px;
  text-align: center;
}