<div class="container">
  <div class="row">
    bpmn2imds is an open source BPMN 2.0 diagram verifier written in C# and F#. Internally it uses IMDS as a formal representation of the verified diagram.
  </div>
  <div class="row">
      reference:
  </div>
  <div class="row">
    - Object Management Group, Business Process Model and Notation (BPMN) Version 2.0.2, 2013
  </div>
  <div class="row">
    - W. B. Daszczuk, Communication and Resource Deadlock Analysis Using IMDS Formalism and Model Checking, Comput. J., Dec. 2016,
  </div>
  <div class="row">
    - J. Jałowiec, Translation of BPMN into IMDS, Bsc. thesis, Warsaw University of Technology, 2019
  </div>
</div>