<div class="container">
  <div class="row">
    <div class="col-10">
      <div id="modeler"></div>
    </div>
    <div class="col-2" style="font-size: 12px; font: center;">
      <button>deadlock 1</button>
    </div>
  </div>
  <div class="row panel">
  </div>
  <div class="row panel">
    <div class="col-1"></div>
    <div class="col-2">
      <button id="load">load</button>
    </div>
    <div class="col-2">
      <button id="export">export</button>
    </div>
    <div class="col-1">
      <button id="first">|<</button>
    </div>
    <div class="col-1">
      <button id="left"><</button>
    </div>
    <div class="col-1">
      <button id="right">></button>
    </div>
    <div class="col-1">
      <button id="last">>|</button>
    </div>
  </div>
  <div class="row panel">
    <div class="col-1"></div>
    <div class="col-2">
      <button id="verify">verify</button>
    </div>
    <div class="col-2">
      <button id="reset">reset</button>
    </div>
    <div class="col-4">
      <button id="status">status</button>
    </div>
  </div>
</div>